[user]
	email = 24990891+ymatsiuk@users.noreply.github.com
	name = Yurii Matsiuk
	; signingkey = 0B95325581C4B57D
; [credential]
	; helper = lastpass
[commit]
	gpgsign = true
; [protocol]
; 	version = 2
[pull]
	rebase = false
[rebase]
	autoStash = true
	abbreviateCommands = true
